.title {
  text-align: center;
}

.menu-wrapper {
  position: sticky;
  right: 0;
  top: 60px;
}

.menu {
  position: absolute;
  background: white;
  right: 0;
  top: 0;

  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.41);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.menu-title {
  text-align: center;
  cursor: pointer;
}

.menu-title-content {
  padding: 0;
  margin: 10px;
  font-size: 1.3rem;
}

.menu-title-sep {
  border-color: #0000001a;
}

.menu-body {
  padding: 0 10px;
}

.menu-link {
  /* display: block; */
}

.menu-link.menu-link-active {
  border-bottom: 1px dashed #bdbcbc;
}

.menu-footer {
  text-align: center;
  cursor: pointer;
}

.grey {
  color: grey;
}
